/* COLORS: primary--#ff3a2f secondary--#fcdd83 */

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
	font-size: 30px;
}

h2 {
	text-align: center;
	margin: 0;
}

h3 {
	margin: 0;
}

hr {
	height: 8px;
	margin: 0;
	border: 0;
	
	background-color: #fcdd83;
}

i {
	width: 60px;
	font-size: 40px;
}

.display-text {
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	color: white;
	background-color: #ff3a2f;
}

.btn {
	color: white;
}

.btn:hover {
	color: black;
}

/*slideout menu*/
#slideout-menu {
	display: none;
}

/*header*/
nav {
	width: 100%;
	height: 72px;
	padding: 0 16px 0 0;
	display: flex;
	justify-content: space-between;
	
	background: #f2f2f2;
}

nav ul {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	
	list-style: none;
}

nav li {
	height: 75%;
	margin:0;
	padding:0;
	display: flex;
	align-items: center;
	
	border-left: 0.3px solid #fcdd83;
}

nav li:hover {
	background: rgba(0, 0, 0, 0.2);
}

nav a {
	margin: 0 32px;
	
	font-size: 20px;
	color: #fcdd83;
	transition: 0.4s;
	font-family: 'Roboto', sans-serif;
}


/*banner*/
#banner {
	height: 500px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	background: rgba(0, 0, 0, 0.2) url("img/banner.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: overlay;
}

/*latest events section*/
main {
	width: 100%;
}

main section {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.card {
	/**/
}

.card:hover {
	/**/
}

.card-image {
	/**/
}

/*footer*/
footer {
	height: 200px;
	display: flex;
	justify-content: flex-start;
	
	color: #fcdd83;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer a {
	color: #fcdd83;
}

footer a:hover {
	color: rgba(0, 0, 0, 0.2);
}

#left-footer {
	width: 40%;
	display: flex;
	align-items: center;
}

#right-footer {
	width: 60%;
	display: flex;
	align-items: center;
}

.footer-container {
	width: 100%;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
	border-right: 0.3px solid #fcdd83;
	text-align: center;
}

#social-media-links ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}